.collectctoWrapper {
    display: block;
    width: 100%;
    min-height: 420px;
}

.collectctoWrapper input.pac-input {
	margin-top: 8px;
    display: block;
    width: 48%;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.collectctoWrapper .collectcoInfowindow .text-center {
	text-align: center;
}
.collectctoWrapper .collectcoInfowindow button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    color: #ffffff;
    background-color: #2196f3;
    border-color: #0d8aee;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}
.collectctoWrapper .collectcoInfowindow button.green {
    color: #ffffff;
    background-color: #4caf50;
    border-color: #449d48;
}
.collectctoWrapper .collectcoInfowindow h4 {
    font-size: 17px;
}

.collectctoWrapper .collectcoInfowindow table tbody tr td.dayName {
	font-weight:bold;
}
.collectctoWrapper .collectcoInfowindow table tbody tr td.dayName:first-letter {
    text-transform:capitalize;
}
.collectctoWrapper .collectcoInfowindow table tbody tr td{
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #f0f0f0;
}
.collectctoWrapper .collectcoInfowindow table {
    background-color: #ffffff;
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.collectctoWrapper .maps-area {
    width: 100%;
    height: 420px;
	display: block;
}